* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

/* Shtresa me efektin e opacitetit dhe blur */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: -1;
}

.lista{
    font-size: large;
    margin-bottom: 0px;
}

.lista li{
    margin-bottom: 10px;
    padding: 20px 20px;
}

.lista li:hover{
    background-color: blue;
}

table th{
    background-color:rgb(79, 103, 194);
}

.rendi2{
    justify-content: center;
    align-items: center;
    flex: 1; /* Kjo perfshin per te marr te gjithe pjesen e mbetur qe e shte boshe per nje div */
    height: 100vh;
    display: none;
}

.rendi2 table{
    justify-content: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
}

th, td{
    padding: 8px;
    text-align: center;
}

.rendi3{
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100vh;
    display: none;
}


.rendi4 {
    justify-content: center;
    align-items: center;
}

.rendi1{
    justify-content: center;
    align-items: center;
    flex: 1; /* Kjo perfshin per te marr te gjithe pjesen e mbetur qe e shte boshe per nje div */
    height: 100vh;
    display: none;
}

.rendi1 table{
    justify-content: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
}

.rendi4 div {
    background-color: rgba(2, 35, 97, 0.8);
    padding: 15px;
    border-radius: 10px;
    min-width: 250px; 
    margin-left: 200px; 
}

.stats-box {
    background-color: rgba(2, 35, 97, 0.9);  
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
    width: 150px;  
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.stats-box:hover {
    transform: scale(1.05);
}

.stats-box h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.stats-box p {
    font-size: 20px;  
    font-weight: bold;
}


.buttoni{
    padding: 10px;
    border-radius: 50%;
    background-color: blue;
    border: none;
}

.section1 {
    background-color:rgb(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px auto;
    width: 40%;
    border-radius: 10px;
   
}

.section1 h3 {
    color: #ecf0f1;
    text-align: center;
}

.section1 form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section1 label {
    color: #ecf0f1;
}

.section1 input[type="text"], 
.section1 input[type="file"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
}

.section1 button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.section1 button:hover {
    background-color: #2980b9;
}