* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

/* Shtresa me efektin e opacitetit dhe blur */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: -1;
}

.lista{
    font-size: large;
}

.lista li{
    margin-bottom: 10px;
    padding: 20px 20px;
}

.lista li:hover{
    background-color: blue;
}

table th{
    background-color:rgb(79, 103, 194);
}

.rendi2{
    justify-content: center;
    align-items: center;
    flex: 1; /* Kjo perfshin per te marr te gjithe pjesen e mbetur qe e shte boshe per nje div */
    height: 100vh;
    display: none;
}

.rendi2 table{
    justify-content: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
}

th, td{
    padding: 8px;
    text-align: center;
}

.rendi3{
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100vh;
    display: none;
}

.buttoni{
    padding: 10px;
    border-radius: 50%;
    background-color: blue;
    border: none;
    margin-top: 40vh;
    color: white;
    text-decoration: none;
}